# Práctica BigData Processing

El proceso para contestar las preguntas tratadas en el enunciado requiere un paso previo, que es convertir los dos archivos csv, uno con datos anteriores a 2021 y otro exclusivamente del 2021, a un dataFrame maestro con los datos combinados. Como los dos csv tienen los nombres de los campos diferentes, debemos tratarlos para unificar nombres y posteriormente unirlos.

Otro paso que también tenemos que hacer es identificar los campos necesarios para responder a cada pregunta. Estos campos son(en csv global y csv de 2021, en este orden):
1. Pregunta 1 
    - CSV Global: "Country name" "Year" "Life Ladder" 
    - CSV 2021: "Country name" "Year"(que no existe y deberemos crearlo) "Ladder Score"
2. Pregunta 2 
    - CSV Global: "Country name" "Year" "Life Ladder" 
    - CSV 2021: "Country Name" "Year"(que no existe y deberemos crearlo) "Ladder Score"
3. Pregunta 3
    - CSV Global: "Country name" "Year" "Life Ladder"
    - CSV 2021: "Country Name" "Year"(que no existe y deberemos crearlo) "Ladder Score"
4. Pregunta 4
    - CSV Global: "Country Name" "Year" "Log GDP per capita"
    - CSV 2021: "Country Name" "Year"(que no existe y deberemos crearlo) "Logged GDP per capita"
5. Pregunta 5
    - CSV Global: "Year" "Log GDP per capita"
    - CSV 2021: "Year"(que no existe y deberemos crearlo)"Logged GDP per capita"
6. Pregunta 6
    - CSV Global: "Country Name" "Year" "Healthy life expectancy at birth"
    - CSV 2021: "Country Name" "Year"(que no existe y deberemos crearlo) "Healthy life expectancy"

Por ello, el dataFrame maestro contará con las siguientes columnas:
- Country
- Year
- Ladder
- GDP
- Life expectancy

Una vez creado el dataFrame, procederemos a responder a cada pregunta

### Filtrado de CSV general

In [33]:
import pandas as pd

In [34]:
dataFrame1 = pd.read_csv('world-happiness-report.csv')
dataFrame1.head(5)

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [35]:
filtered_dataFrame1 = dataFrame1.drop(columns=['Social support', 'Freedom to make life choices','Generosity','Perceptions of corruption','Positive affect','Negative affect']).rename(columns = {'Country name':'Country','year':'Year','Life Ladder':'Ladder','Log GDP per capita':'GDP','Healthy life expectancy at birth':'Life expectancy'})
filtered_dataFrame1.head(5)

       Country  Year  Ladder    GDP  Life expectancy
0  Afghanistan  2008   3.724  7.370            50.80
1  Afghanistan  2009   4.402  7.540            51.20
2  Afghanistan  2010   4.758  7.647            51.60
3  Afghanistan  2011   3.832  7.620            51.92
4  Afghanistan  2012   3.783  7.705            52.24

### Filtrado de CSV 2021

In [36]:
dataFrame2 = pd.read_csv('world-happiness-report-2021.csv')
dataFrame2.head(5)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [37]:
filtered_dataFrame2 = dataFrame2[['Country name','Ladder score','Logged GDP per capita','Healthy life expectancy']].rename(columns = {'Country name':'Country','Ladder score':'Ladder','Logged GDP per capita':'GDP','Healthy life expectancy':'Life expectancy'})
filtered_dataFrame2.insert(1,'Year',2021)
filtered_dataFrame2.head(5)

       Country  Year  Ladder     GDP  Life expectancy
0      Finland  2021   7.842  10.775             72.0
1      Denmark  2021   7.620  10.933             72.7
2  Switzerland  2021   7.571  11.117             74.4
3      Iceland  2021   7.554  10.878             73.0
4  Netherlands  2021   7.464  10.932             72.4

### Creación de CSV maestro

In [39]:
master_dataFrame = pd.concat([filtered_dataFrame1,filtered_dataFrame2]).sort_values(by=['Country','Year'])
master_dataFrame

          Country  Year  Ladder    GDP  Life expectancy
0     Afghanistan  2008   3.724  7.370           50.800
1     Afghanistan  2009   4.402  7.540           51.200
2     Afghanistan  2010   4.758  7.647           51.600
3     Afghanistan  2011   3.832  7.620           51.920
4     Afghanistan  2012   3.783  7.705           52.240
...           ...   ...     ...    ...              ...
1945     Zimbabwe  2017   3.638  8.016           55.000
1946     Zimbabwe  2018   3.616  8.049           55.600
1947     Zimbabwe  2019   2.694  7.950           56.200
1948     Zimbabwe  2020   3.160  7.829           56.800
147      Zimbabwe  2021   3.145  7.943           56.201

[2098 rows x 5 columns]